<!--include header -->
<%- include('include/header.ejs') %>

		<nav>
    <div class="logo">
      <i class="fas fa-plane"></i>
      <span>Express Airlines</span>
    </div>
    <ul class="nav-links">
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

  <header>
    <h1>History of Adventures</h1>
  </header>

  <section>
    <div class="container">
      <div class="message">
        <i class="fas fa-comment"></i>
        <p><%=message%></p>
      </div>

      <table>
        <tr>
          <th>S.No.</th>
					<th>Flight</th>
					<th>Source</th>
					<th>Destination</th>
					<th>Departure</th>
					<th>Date</th>
					<th>Booked date</th>
        </tr>
        <%let i=1;%>
				<%table.forEach(function(row){%>
				<tr>
					<td><%=i%></td>
					<td><%=row['flight']%></td>
					<td><%=row['source']%></td>
					<td><%=row['destination']%></td>
					<td><%=row['departure']%></td>
					<td><%=row['date']%></td>
					<td><%=row['booked_date']%></td>
				</tr>
				<%i=i+1;%>
				<%});%>
        <!-- Add more rows as needed -->
      </table>
    </div>
  </section>

<!--include footer -->
<%- include('include/footer.ejs') %>