<!--include header -->
<%- include('include/header.ejs') %>

		<nav>
				<h2>It's time for adventure..<h2>
			<div id="right">
			<ul>
				<li><a href="/">Log out</a></li>
			</ul>
			</div>
		</nav>
				
		<div id="result">
		<h4><%=message%></h4>
			<div id="flights">
			<table class="flights">
				<tr>
					<th>S.No.</th>
					<th>Flight</th>
					<th>Departure</th>
					<th>Reach(hrs)</th>
					<th>Seats</th>
					<th>Book</th>
				</tr>
				<%let i=1;%>
				<%table.forEach(function(row){%>
				<form action="/login/search/book" method="post">
				<input type="hidden" name="mail" value=<%=mail%>>
				<input type="hidden" name="source" value=<%=source%>>
				<input type="hidden" name="destination" value=<%=destination%>>
				<input type="hidden" name="date" value=<%=date%>>
				<input type="hidden" name="flight" value=<%=row['flight']%>>
				<input type="hidden" name="departure" value=<%=row['departure']%>>
				<tr>
					<td><%=i%></td>
					<td ><%=row['flight']%></td>
					<td ><%=row['departure']%></td>
					<td ><%=row['reach']%></td>
					<td ><%=row['seats']%></td>
					<td ><button type="submit">Book</button></td>
				</tr>
				<%i=i+1;%>
				</form>
				<%});%>
			</table>
			</div>
		</div>

<!--include footer -->
<%- include('include/footer.ejs') %>